*{
  font-family: "Bookman Old Style", serif;
  margin: 0;
  padding: 0;
  background-color: #D3CAAB;
}
/*#280000 #570000 #ADA68C colors */

/*NAVIGATION BAR STYLLE ------------------------------------------------------*/
/*settting font size, list style, padding, etc. */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-size: 20px;
  float: right;
}
/*placing the links for the navbar */
.option, .dropdown {float: left;}
/*setting colors, padding, etc. for naviagation bar text */
.option a, .dropdown a{
  display: inline-block;
  color: #280000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*setting up how the dropdown menu's contents will show */
.dropdown {display: inline-block;}
/* creates underline when hovered over */
.option a:hover, .dropdown:hover .dropdn-btn {
  border-bottom: 5px #570000 solid;
}
/*hiding dropdown menu's content, also ensures that it will not be pushed by
other content */
.dropdn-content {
  display: none;
  position: absolute;
  z-index: 10;
}
/*shows dropdown menu's conent when hovered over*/
.dropdown:hover .dropdn-content {
  display: block;
}
/*creating look of dropdown menu's content*/
.dropdn-content a {
  display: block;
  color: #280000;
  text-decoration: none;
  text-align: left;
  padding: 12px 14px 12px 3px;
  background: #ADA68C
}
/*changing color of text when hovered over */
.dropdn-content a:hover{text-decoration: underline;}
/*NAVIGATION BAR STYLE -------------------------------------------------------*/

/*FOOTER STYLE ---------------------------------------------------------------*/
/*alignment of the 3 main divs on top of the other two */
/*don't ever change this or we will never get it back */
/* BLACK MAGIC BEGINS -----------------------------------------*/
.sitemap, .connections, .resume {
  display: inline-flex;
  float: left;
  position: relative;
  text-align: center;
  width: 33%;
}
.sitemap .contents, .connections .contents {
  list-style-type: none;
  margin: 0;
  padding-top: 4px;
  text-align: left;
}
.sitemap .contents {
  padding-left: 40%;
  padding-bottom: 8px;
}
.sitemap .contents, .connections .contents, .resume .contents {
  padding-top: 8px;
}
.sitemap, .connections, .resume {
  display: flex;
  flex-direction: column;
}
.row, .to-top, .copyright {
  display: flex;
  flex-direction: row;
}
.connections .contents {
  align-content: flex-start;
}
.to-top a {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
.copyright p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 16px;
}
/* BLACK MAGIC ENDS ------------------------------------------*/

/*setting font-size for footer text */
.sitemap, .connections, .resume, .to-top, .copyright {font-size: 12px;}

/*setting up lines between each of the footer divs*/
.connections, .resume {
  border-left: 2px #280000 solid;
  margin-left: 2px;
}

/*setting font styling, color, basic alignment */
.sitemap .contents a {
  color: #000000;
  text-decoration: none;
}
.to-top a {color: #2B302F;}
.copyright {color: #000000;}
.connections .contents span, .resume .contents span {
  color: #000000;
  text-decoration: none;
  display: inline-block;
}
.connections .contents a, .resume .contents a{text-decoration: none;}
.resume .contents span {vertical-align: middle;}
/* sizing and padding to images*/
.connections img {
  display: inline-block;
  max-width: 30px;
  max-height:30px;
  width = auto;
  height = auto;
  padding-bottom: 8px;
  padding-right: 6px;
  padding-left: 8px;
  margin-left: 23%;
  vertical-align: middle;
}
.resume img {
  display: inline-block;
  max-width: 72px;
  max-height: 72px;
  width = auto;
  height = auto;
  vertical-align: middle;
  padding-top: 5%;
}

/*setting font styling and color for sitemap links when hovered*/
.sitemap .contents a:hover, .connections .contents span:hover,
.resume .contents span:hover, .to-top a:hover {
  color: #570000;
  text-decoration: underline;
}

/*FOOTER STYLE ---------------------------------------------------------------*/

/*MAIN STYLING FOR MOST PAGES ------------------------------------------------*/
.container h1 {
  font-size: 72px;
  margin-top: 60px;
  padding-left: 5%;
  padding-bottom: 5px;
  border-bottom: 10px #570000 dotted;
  text-transform: uppercase;
}
.container .main {
  margin: 72px 10px;
  margin-top: 100px;
}

/* for headers and links of all content */
.container .main .paragraph h2, .container .main .list h2, .container .main .photoshow h2 {
  font-size:40px;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 72px;
  border-right: 5px #570000 solid;

}
.container .main .paragraph a, .container .main .list a,
.container .main .special-paragraph a {color: #2B302F;}
.container .main .paragraph a:visited, .container .main .list a:visited,
.container .main .special-paragraph a{color: #1D201F}

/* getting rid of borders on headers for lists and photoshows */
.container .main .list h2, .container .main .photoshow h2 {border: none;}

/* for text that is written in the style of a paragraph */
.container .main .paragraph p {
  border-left: 5px #570000 solid;
  border-right: 5px #570000 solid;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px 10px 0px 10px;
}
.container .main .paragraph .special-link a{color: #570000;}
.container .main .paragraph .special-link a:visted{color:#1D201F}
.container .main .paragraph .special-link {
  border-left: 5px #570000 solid;
  border-right: 5px #570000 solid;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 24px;
  padding-left: 26%;
}

/* for text that is in list format */
.container .main .list ul {
  margin-left: 15%;
  margin-right: 15%;
}
.container .main .list p {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
}

.container .main .special-paragraph h2 {
  font-size:40px;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 20px;
}
.container .main .special-paragraph p {
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px 10px 20px 10px;
}
.container .main .special-paragraph {
  margin-top: 72px;
  border: 5px #738293 solid;
}

.container .main .photoshow h2 {
  font-size:40px;
  padding-bottom: 10px;
}

.container .main .photoshow .slideshow-container {
  max-width: 1000px;
  max-height: 700px;
  width: auto;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Hide the images by default */
.container .main .photoshow .slideshow-container .slideshow-img {
    display: none;
    text-align: center;
}

/* Next & previous buttons */
.container .main .photoshow .slideshow-container .prev,
.container .main .photoshow .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.container .main .photoshow .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.container .main .photoshow .slideshow-container .prev:hover,
.container .main .photoshow .slideshow-container .next:hover {
  background-color: rgba(255,255,255,0.8);
}
/* Caption text */
.container .main .photoshow .slideshow-container .slideshow-img .text {
  color: #f2f2f2;
  background: rgba(0,0,0,0.8);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.container .main .photoshow .dots .dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
  position: relative;
}

.container .main .photoshow .dots {
  margin: 0 auto;
  text-align: center;
}

.container .main .photoshow .slideshow-container .dots .dot:hover,
.container .main .photoshow .slideshow-container .dots .active {
  color: #570000;
}

/* Fading animation */
.container .main .photoshow .slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*MAIN STYLING FOR MOST PAGES ------------------------------------------------*/

/* IMAGES AS A BACKGROUND FOR MAIN -------------------------------------------*/
.img-bg-page {
  width: 100%;
  overflow: hidden; /*so image is auto croppped if window is not big enough*/
  color: #280000;
  font-size: 36px;
  position: relative;
}
/* placing and sizing bg img */
.container .main .img-bg-page .bg-img img {
  max-height: 1080px;
  width: auto;
  margin-left: 4px;
  margin-right: 4px;
  object-fit: contain;
  position: relative;
}
/* placing and sizing bg img */
.container .main .img-bg-page .bg-img2 img {
  max-height: 1556px;
  width: auto;
  margin-left: 4px;
  margin-right: 4px;
  object-fit: contain;
  position: relative;
}
/* IMAGES AS A BACKGROUND FOR MAIN -------------------------------------------*/

/* INDEX.HTML SPECIFIC CODE --------------------------------------------------*/
.container .main .img-bg-page .introduction {
  float: left;
  position: absolute;
  top: 20%;
  margin-left: 15%;
  margin-right: 55%;
  border: 4px rgba(0,0,0,0.5);
  font-size: 16px;
  border-bottom: 8px rgba(0,0,0,0.6) outset;
  border-right: 8px rgba(0,0,0,0.6) outset;
  background: transparent;
}
.container .main .img-bg-page .introduction h2 {
  font-size: 48px;
  padding: 10px;
  padding-bottom: 20px;
}

.container .main .img-bg-page  .introduction p {padding: 0px 10px 20px 10px;}
.container .main .img-bg-page .introduction p, .container .main .img-bg-page .introduction h2 {
  color: #FFFFFF;
  background: rgba(87,0,0,0.75);
}
.container .main .img-bg-page .introduction a {
  background: transparent;
  color: #EBEBE0;
}
.container .main .img-bg-page .introduction a:visited {color: #D6D6C2;}
/* INDEX.HTML SPECIFIC CODE --------------------------------------------------*/

/* CONTACT-ME.HTML SPECIFIC CODE ---------------------------------------------*/
/* placing links to social media, sizing, and coloring them */
.img-bg-page .logos-placement {
  float: left;
  margin-left: 15%;
  top: 8%;
  display: in-line block;
  position: absolute;
  background-color: transparent;
}
.img-bg-page .logos-placement a {
  text-decoration: none;
  background-color: transparent;
}
.img-bg-page .logos-placement a span {
  color: #280000;
  display: inline-block;
  margin-top: 60px;
  vertical-align: top;
  background-color: transparent;
}
.img-bg-page .logos-placement a img {
  max-width: 672px;
  max-height: 72px;
  width: auto;
  height: auto;
  margin-top: 48px;
  margin-right: 8px;
  background: transparent;
}
.img-bg-page .logos-placement a span:hover,
.img-bg-page .logos-placement a:hover span{
  text-decoration: underline;
}
/* placing email link + adjsting colors */
.img-bg-page .email-link {
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  background-color: transparent;
  position: absolute;
  float: left;
  margin-left: 42%;
  top: 34%
}
.img-bg-page .email-link a, .img-bg-page .email-link h3 {background-color: transparent;}
.img-bg-page .email-link a {
  color:#570000;
  text-decoration: none;
}
.img-bg-page .email-link h3 {color: #280000;}
.img-bg-page .email-link a:hover {text-decoration: underline;}
/*placing the paragraph about meeting in person */
.img-bg-page .in-person-para {
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  font-size: 24px;
  font-style: italic;
  position: absolute;
  float: left;
  padding-left: 10%;
  top: 70%;
  width: 50%;
}
.img-bg-page .in-person-para h3, .img-bg-page .in-person-para p {background-color: transparent;}
/* CONTACT-ME.HTML SPECIFIC CODE ---------------------------------------------*/

/* INTERESTS.HTML SPEIFIC CODE -----------------------------------------------*/
.container .main .img-bg-page .interest-links {
  float: left;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

/*settig up the main links */
.img-bg-page .interest-links ul {
  float: left;
  margin-left: 40%;
  position: absolute;
  top: 8%;
  background: transparent;
  list-style-type: none;
}
.img-bg-page .interest-links ul li {
  margin: 36px;
  padding: 12px;
  border: 4px #280000 double;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}
.img-bg-page .interest-links ul li a {
  display: block;
  text-decoration: none;
  color: #570000;
  background: transparent;
}
.img-bg-page .interest-links ul li a:hover {text-decoration: underline;}
/*setting up the little blurbs */
.main .img-bg-page .easter-egg p, .main .img-bg-page .interests-extra p {
  background: rgba(87,0,0, 0.7);
  color: #ffffff;
  padding: 12px;
  font-size: 28px;
}
.main .img-bg-page .easter-egg {
  display: block;
  float: left;
  position: absolute;
  top: 42%;
  margin-right: 20%;
  background: transparent;
  border: 6px rgba(0,0,0,0.5) solid;
  border-left: 0px;
  border-top: 0px;
}
.main .img-bg-page .interests-extra {
  display: block;
  float: right;
  position: absolute;
  top: 58%;
  margin-left: 20%;
  background: transparent;
  border: 6px rgba(0,0,0,0.5) solid;
  border-right: 0px;
  border-top: 0px;
}
/* INTERESTS.HTML SPECIFIC CODE ----------------------------------------------*/
